[submodule "src/third-party/json"]
	path = src/third-party/json
	url = https://github.com/nlohmann/json
[submodule "src/third-party/bullet3"]
	path = src/third-party/bullet3
	url = https://github.com/bulletphysics/bullet3.git
